body {
  background-color: #1F1F21;
}

.header-background {
  background: url("../img/header_background.jpg") fixed;
  height: 800px;
}

.thumbnail.with-caption {
  display: inline-block;
  background-image: url("../img/item_box_background.jpg");
}
.thumbnail.with-caption p {
  padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

a:link {
  color: #FFFFFF;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #3D6BFF;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family:'Shadows Into Light', serif;
  color:white;
}

h3 {
  font-family:'Shadows Into Light', serif;
  color:white;
}

h4 {
  font-family: 'Lato';
  font-size: 15px;
}

h6 {
  font-family: 'Lato';
  font-size: 12px;
}
